﻿body { font-family: Verdana; font-size: medium; background-color: #eeeeee; color: #000000; }
h1 { font-size: 1.6em; font-weight: normal; background-image: url(AltairisLogo.png); background-position: right center; background-repeat: no-repeat; height: 2em; line-height: 2em; background-color: #ffffff; padding-left: 10px; }
h2 { font-size: 1.2em; font-weight: normal; }
th { text-align: right; font-weight: normal; }
a:link { color: #009900; }
a:visited { color: #006600; }
a:hover { color: #00cc00; }
.footer { font-size: .7em; text-align: center; border-top: dotted 1px #999999; padding: 1ex; color: #999999; }
.footer a { color: #999999; }
